.confirmText1 {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: capitalize;
  color: #333333;
}

.confirmText2 {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  padding-bottom: 20px;
  padding-top: 40px;
}

.confirmText3 {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #414a63;
  padding-bottom: 3px;
}

.confirmText3name {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  padding-bottom: 13px;
}

.arrowbackbtn {
  /* border: 2px solid #5a637a; */
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  color: #5a637a;
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
  cursor: pointer;
}

.confirmText4 {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5a637a;
  padding-bottom: 3px;
  padding-left: 20px;
}

.divconfirmpapermain {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  border-radius: 13px;
  width: 499px;
  height: 675px;
  margin-top: 8rem;
  margin-bottom: 100px;
}

.confirmordertext1 {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #333333;
}

.confirmorderdetails {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  padding-top: 35px;
}

.confirmordertext2 {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  padding-top: 10px;
}

.confirmordertext2coupen {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0d7df5;
  padding-top: 10px;
}

.confirmordertotal {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 20px;
}

.confirmorderpaymentmode {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 20px;
}

.paymentmodecard {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  color: #118eea;
  padding-top: 20px;
  padding-bottom: 20px;
}

.paymentmodecardbank {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  color: #333333;
  padding-bottom: 50px;
}

.btnbookTicket {
  background: #1a2c50;
  border-radius: 8px;
  color: #ffbe00;
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  height: 64px;
}
